.sr-only {
    position: absolute;
    width: .0625rem;
    height: .0625rem;
    overflow: hidden;
    padding: 0rem;
    margin: -1;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}